.ListingImageContainer {
    text-align: center;
}

.ListingDivider {
    background-color: #ffcf34;
    position: relative;
    width: 306px;
    height: 12px;
    margin-top: -15px;

}

.ListingInfo {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    color: #3c3976;
    width: 306px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: -18px;
}

.ListingFrom {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    margin-top: -18px;
}

.ListingPrice {
    font-size: 21px;
    color: #000000;
    font-weight: 400;
    margin-top: -10px;
}

.ListingDetails {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    background-color: #3c3976;
    border-radius: 10px;
    color: #ffcf34;
    width: 104px;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    position: relative;
    left: 161px;
    top: -60px;
}