.GalleryHeader {
    border-bottom: 12px solid #ffcf34;
}

.InstagramLink {
    text-decoration: none;
}

.InstagramHeading {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
    color: #3c3976;
}

.InstagramContainer {
    display: inline-block;
    background-color: #f2f2f2;

    width: 100%;
}

.InstagramFeedContainer {
    display: inline-block;
    width: 1000px;
    border-radius: 25px;
    background-color: #dddddd;
    overflow: hidden;
    margin-bottom: 50px;
}

.eapps-instagram-feed-posts-inner {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}